:host {
  display: grid;
  grid-template-rows: auto 1fr auto;  /* Шапка, контент, футер */
  min-height: 100vh;
  background: var(--text-light-color);
  padding: 20px 20px;
  text-align: center;
}

.sidebar__header {
  padding: 40px;
  display: grid;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  font-size: 36px;
  line-height: 35px;
  font-weight: 500;
}

.content-container {
  grid-row: 2;
  overflow-y: hidden;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.sidebar__footer {
  grid-row: 3;
  padding: 40px;
  background: none;
  list-style: none;
  display: grid;
  grid-gap: 15px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.footer-button {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-gap: 15px;
}

.footer-icon {
  width: 35px;
  height: 35px;
  color: var(--secondary-color);
  opacity: 1;
  transition: 0.2s;

  &:hover,
  &:focus-visible {
    color: var(--text-dark-color);
  }

  &:focus,
  &:active {
    color: var(--text-dark-color);
  }
}
