<!-- sidebar.html -->
<header class="sidebar__header">
  <strong>SPECTOR</strong>
</header>

@if (!isChartPage()) {
  <div class="content-container">
    <app-navbar></app-navbar>
  </div>
} @else {
  <div class="content-container">
    <app-menu-list-item></app-menu-list-item>
  </div>
}


<footer class="sidebar__footer">
  <div class="footer-button">
    <a [routerLink]="['/settings']">
      <svg icon="settings" class="footer-icon"></svg>
    </a>
    <a [routerLink]="['/faq']">
      <svg icon="question" class="footer-icon"></svg>
    </a>
  </div>
</footer>


