.page-content {
  display: grid;
  grid-template-rows: 155px auto;
  height: 100%;
}

.page-header {
  display: grid;
  grid-template-columns: 70% 30%;
  padding: 20px 20px 20px 0;
  align-content: end;
}

.page-header__label {
  color: var(--secondary-color);
  font-size: 36px;
  line-height: 35px;
  font-weight: 500;
  display: flex;
  align-items: end;
  justify-content: start;
  gap: 40px;
}

.page-header__button-container {
  padding: 0 40px 0 0;
  display: flex;
  grid-gap: 20px;
  align-items: end;
  justify-content: end;
}

.page-body {
  margin: 0 60px 60px 0;
  border: 2px solid var(--inactive-buttom-color);
  border-radius: 10px;
  height: 780px;
}

.content-area {
  display: block;
  margin: 20px;
  height: 737px;
  overflow: auto;
  // Скрываем скроллбар но оставляем функциональность
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE и Edge */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
