.switch-container {
  display: grid;
  align-items: center;
  justify-content: center;
}

.switch-card-container {
  display: grid;
  align-items: start;
  justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked {
      + .switch__slider {
        background-color: var(--primary-color);

        &::before {
          transform: translateX(16px);
        }
      }
    }
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--inactive-buttom-color);
    transition: .4s;
    border-radius: 24px;

    &::before {
      position: absolute;
      content: "";
      height: 16px;
      width: 16px;
      left: 4px;
      bottom: 4px;
      background-color: var(--text-light-color);
      transition: .4s;
      border-radius: 50%;
    }
  }
}
