.date-picker-manual-container {
  font-size: 20px;
  font-weight: 300;
  line-height: 45px;
}

.date-picker-manual__form {
  display: grid;
  grid-template-columns: auto auto;
}

.date-picker-manual__form-group {
  display: grid;
  grid-template-columns: 70px 230px;
}

.date-picker-manual__text-container {
  display: grid;
  align-items: center;
  justify-content: center;
}

.manual-input {
  padding: 2px 12px;
  border: 3px solid var(--inactive-buttom-color);
  border-radius: 6px;

  display: block;

  font-family: "Inter", sans-serif;
  line-height: 18px;
  font-size: 18px;
  font-weight: 300;

  outline: none;
  opacity: 1;
  transition: border-color 0.2s, box-shadow 0.2s;

  &:focus {
    border: 3px solid var(--primary-color);
  }
}
