.menu-function-button-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  justify-content: flex-end;
  line-height: 35px;
  font-size: 18px;
  font-weight: 400;
}

.function-button__save {
  line-height: 35px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  width: 220px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  color: var(--light-color);
  align-items: center; /* Выравнивание по вертикали */
  justify-content: center; /* Выравнивание по горизонтали */
  opacity: 1;
  transition: 0.2s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: var(--dark-primary-color);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25), 0 0 16px 0 rgba(0, 0, 0, 0.19);
  }
}

.function-button__cancel {
  width: 220px;
  background-color: var(--inactive-buttom-color);
  border: none;
  border-radius: 4px;
  color: var(--text-dark-color);
  opacity: 1;
  transition: 0.2s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  line-height: 35px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;

  &:hover,
  &:focus-visible {
    background-color: var(--secondary-color);
    color: var(--text-light-color);
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.25), 0 0 16px 0 rgba(0,0,0,0.19);
  }

  &:focus,
  &:active {
    background-color: var(--secondary-color);
    color: var(--text-light-color);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.25), 0 0 0 0 rgba(0,0,0,0.19)
  }
}

.function-button__delete {
  width: 220px;
  background-color: var(--inactive-buttom-color);
  border: none;
  border-radius: 4px;
  color: var(--text-dark-color);
  opacity: 1;
  transition: 0.2s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  line-height: 35px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;

  &:hover,
  &:focus-visible {
    background-color: var(--red-color);
    color: var(--text-light-color);
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.25), 0 0 16px 0 rgba(0,0,0,0.19);
  }

  &:focus,
  &:active {
    background-color: var(--red-color);
    color: var(--text-light-color);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.25), 0 0 0 0 rgba(0,0,0,0.19)
  }
}

