<!-- device-type-page.html -->
<app-page-layout>

  <ng-template appLabel></ng-template>

  <ng-template appButtons>
    <app-button-graph [routerLink]="['/graphs']"></app-button-graph>
    <app-button-add [routerLink]="['/device-types/new']"></app-button-add>
  </ng-template>

  <ng-template appBody>
    <app-list-of-cards-layout>
      @if (isLoading()) {
        <app-loader></app-loader>
      }
      @else {
        @for (deviceTypeCard of deviceTypeCards(); track deviceTypeCard.id) {
          <app-card
            [mainInfo]="deviceTypeCard.name"
            [secondInfo]="deviceTypeCard.description"
            [editRoute]="['/device-types', deviceTypeCard.id]"></app-card>
        }
        @empty {
          <app-empty-layout
            [errorMessage]="'Добавьте тип устройства для отображения'">
          </app-empty-layout>
        }
      }
    </app-list-of-cards-layout>
  </ng-template>

</app-page-layout>
