.button-back-name {
  font-family: 'Inter', sans-serif;
  line-height: 35px;
  font-size: 18px;
  font-weight: 400;
}

.button-back {
  width: 100%;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  color: var(--light-color);
  display: flex;
  align-items: center; /* Выравнивание по вертикали */
  justify-content: center; /* Выравнивание по горизонтали */
  gap: 10px;
  opacity: 1;
  transition: 0.2s;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: var(--dark-primary-color);
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.25), 0 0 16px 0 rgba(0,0,0,0.19);
  }

  &:focus,
  &:active {
    background-color: var(--primary-color);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.25), 0 0 0 0 rgba(0,0,0,0.19)
  }
}

.button-back-img {
  width: 20px;
  height: 20px;
}
