.bar-container {
  display: grid;
  grid-template-rows: 1fr auto;
  gap: 5px;
}

.bar__header {
  padding: 0 10px;
  display: grid;
  grid-template-columns: 30% 20% 50%;
  border-radius: 4px;
  background: var(--primary-color);
  color: var(--text-light-color);
  line-height: 48px;
  font-size: 18px;
  font-weight: 500;
  justify-items: center;
}

.bar__body {
  display: grid;
  row-gap: 5px;
}
