<!-- navbar.html -->
<nav class="navbar-container">
  @if (config.showBackButton) {
    <app-menu-back-button (backClicked)="navigateBack()"></app-menu-back-button>
  }

  <!-- Основные ссылки -->
  @if (config.showMainLinks) {
    <div class="main-menu-list">
      @for (menuItem of mainMenuItems; track menuItem) {
        <li>
          <a [routerLink]="[menuItem.link]">
            <app-menu-button
              [label]="menuItem.label"
              [isActive]="isActiveRoute(menuItem.link)"></app-menu-button>
          </a>
        </li>
      }
    </div>
  }

  <!-- Фильтр -->
  @if (config.showFilter) {
    <!-- Фильтр для страницы типов устройств -->
    @if (currentRoute().includes('/device-types')) {
      <app-menu-filter
        [options]="deviceTypeFilters"
        [placeholder]="'Без фильтра'"
        (selected)="onFilterSelected($event)">
      </app-menu-filter>
    }

    <!-- Фильтр для страницы типов устройств -->
    @if (currentRoute().includes('/devices')) {
      <app-menu-filter
        [options]="deviceFilters"
        [placeholder]="'Без фильтра'"
        (selected)="onFilterSelected($event)">
      </app-menu-filter>
    }
  }

  <!-- Ссылки подразделов -->
  @if (config.showSubsectionButton && config.subsectionButton) {
    <div class="main-menu-list">
      <li>
        <a [routerLink]="config.subsectionButton.route">
          <app-menu-button [label]="config.subsectionButton.label"></app-menu-button>
        </a>
      </li>
    </div>
  }
</nav>
