.multi-select-dropdown {
  position: relative;
  width: 100%;
}

.input-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
  border: 3px solid var(--inactive-buttom-color);
  border-radius: 0.375rem;
  appearance: none;
  opacity: 1;
  transition: border-color 0.2s, box-shadow 0.2s;

  &:focus-within {
    border: 3px solid var(--primary-color);
  }
}

.input-container input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
}

.selected-item {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 10px 10px 10px 14px;
  background-color: var(--light-selected-item);
  border-radius: 25px;
  font-size: 16px;
  font-weight: 300;
  line-height: 18px;

}

.selected-item__button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #4a90e2;
  margin-left: 3px;
}

.dropdown-list {
  position: absolute;
  width: 100%;
  margin: 7px 0;
  max-height: 200px;
  overflow-y: auto;
  border: 3px solid var(--primary-color);
  border-radius: 0.375rem;
  font-size: 16px;
  font-weight: 300;
}

.dropdown-item {
  //display: flex;
  display: grid;
  grid-template-columns: auto 200px auto;
  //align-items: center;
  place-content: flex-start;
  padding: 8px;
  cursor: pointer;
}

.dropdown-item input[type="checkbox"] {
  margin-right: 10px;
}

.dropdown-item .second-info {
  margin-left: 20px;
}

.dropdown-item .checkbox {
  width: 18px;
  height: 18px;
  border: 3px solid var(--inactive-buttom-color);
  border-radius: 3px;
  margin-right: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.dropdown-item .checkbox.checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.dropdown-item .checkmark {
  color: var(--light-color);
  font-size: 20px;
}

.divider {
  color: var(--inactive-buttom-color);
}
