.menu-button-name {
  font-family: 'Inter', sans-serif;
  line-height: 35px;
  font-size: 18px;
  font-weight: 400;
}

.menu-button {
  width: 100%;
  background-color: var(--inactive-buttom-color);
  border: none;
  border-radius: 4px;
  color: var(--text-dark-color);
  opacity: 1;
  transition: 0.2s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: var(--primary-color);
    color: var(--text-light-color);
    box-shadow: 0 0 16px 0 rgba(0,0,0,0.25), 0 0 16px 0 rgba(0,0,0,0.19);
  }

  &:focus,
  &:active {
    background-color: var(--primary-color);
    color: var(--text-light-color);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.25), 0 0 0 0 rgba(0,0,0,0.19)
  }

  &.active {
    background-color: var(--primary-color);
    color: var(--text-light-color);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.25), 0 0 0 0 rgba(0,0,0,0.19)
  }
}
