<!-- menu-filter.html -->
<div class="filter-select__container">
  <div class="filter-select__wrapper" (click)="toggleDropdown()">
    {{ selectedOption || placeholder }}
<!--    <svg icon="arrow" class="select-icon"></svg>-->
    @if (isOpen) {
      <div class="filter-select__menu-list">
        <ul class="filter-option__item">
          <li class="filter-option__label" (click)="selectOption(null); $event.stopPropagation()">
            <a>
              Без фильтра
            </a>
          </li>
          @for (option of options; track option) {
            <li class="filter-option__label" (click)="selectOption(option); $event.stopPropagation()">
              <a>
                {{ option }}
              </a>
            </li>
          }
        </ul>
      </div>
    }
  </div>
</div>
