<!-- enumeration-detail-page.html -->
<app-page-layout>

  <ng-template appLabel>
    @if (collection(); as collection) {
      {{ collection.name }}
    } @else {
      Новый словарь
    }
  </ng-template>

  <ng-template appButtons></ng-template>

  <ng-template appBody>
    <app-detail-info-layout>
      <form action="" class="form-container" [formGroup]="form">
        <div class="form-content">
          <div class="form-label-container">
            <span class="form-label-container__label">
            Название
            </span>
            <input class="form-label-container__input"
                   type="text" formControlName="name">
            @if (form.get('name')?.invalid && form.get('name')?.touched) {
              <div class="form-label-container-error-message">
                @if (form.get('name')?.errors?.['required']) {
                  Название обязательно
                }
                @if (form.get('name')?.errors?.['maxlength']) {
                  Максимальная длина 100 символов
                }
              </div>
            }
          </div>

          <div class="form-label-container">
            <span class="form-label-container__label">
              Количество статусов
            </span>
            <div class="enum-container">
              <div class="enum-container__header">
                <button type="button"
                        class="add-enum-button"
                        (click)="addEnumValue()"
                        [disabled]="isLoading">
                  <span>Добавить значение</span>
                </button>
              </div>

              <div class="enum-container__body">

                <div class="enum-list__header">
                  <strong>Ключ</strong>
                  <strong>Значение</strong>
                </div>

                <div formArrayName="enumValues" class="enum-list">
                  @for (item of enumValuesArray.controls; track i; let i = $index) {
                    <div [formGroupName]="i" class="enum-list__item">
                        <label class="item-key__label">
                          <input type="number"
                                 formControlName="key"
                                 min="0"
                                 class="item-key"
                                 placeholder="Числовой ключ"
                                 (keydown)="onKeyDown($event)">
                        </label>

                        <label class="item-value__label">
                          <input type="text"
                                 formControlName="value"
                                 class="item-value"
                                 placeholder="Текстовое значение">
                        </label>

                        <button type="button"
                                class="remove-enum-button"
                                (click)="removeEnumValue(i)"
                                [disabled]="enumValuesArray.length <= 1">
                          <svg icon="remove" class="remove-enum-button__icon"></svg>
                        </button>
                      </div>

                    @if ((enumValuesArray.at(i).get('key')?.invalid && (enumValuesArray.at(i).get('key')?.touched)) ||
                    (enumValuesArray.at(i).get('value')?.invalid && (enumValuesArray.at(i).get('value')?.touched))) {
                        <div class="enum-error-message">
                          @if (enumValuesArray.at(i).get('key')?.errors?.['required']) {
                            <span>Ключ обязателен</span>
                          }
                          @if (enumValuesArray.at(i).get('key')?.errors?.['min']) {
                            <span>Ключ должен быть положительным числом</span>
                          }
                          @if (enumValuesArray.at(i).get('value')?.errors?.['required']) {
                            <span>Значение обязательно</span>
                          }
                        </div>
                    }
                  }
                </div>

                <!-- Ошибки для всего FormArray -->
                @if (enumValuesArray.invalid && (enumValuesArray.touched)) {
                  <div class="enum-error-message">
                    @if (enumValuesArray.errors?.['uniqueEnumKeys']) {
                      <span>Ключи должны быть уникальными</span>
                    }
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
        <div class="buttons-container">
          <app-menu-function-button
            [showDelete]="isEditMode"
            (onSave)="onSave()"
            (onCancel)="onCancel()"
            (onDelete)="onDelete()">
          </app-menu-function-button>
        </div>
      </form>
    </app-detail-info-layout>
  </ng-template>

</app-page-layout>
