.button-add__container {
  align-items: end;
}

.button-add {
  display: grid;
  grid-template-columns: 35px 1fr;
  grid-gap: 5px;
  padding: 0 15px 0 10px;
  background-color: var(--primary-color);
  color: var(--light-color);
  border: none;
  border-radius: 25px;
  align-items: center;
  opacity: 1;
  transition: 0.2s;
  text-decoration: none;
  cursor: pointer;

  &:hover,
  &:focus-visible {
    background-color: var(--dark-primary-color);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.25), 0 0 8px 0 rgba(0,0,0,0.19);
  }

  &:focus,
  &:active {
    background-color: var(--primary-color);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.25), 0 0 0 0 rgba(0,0,0,0.19)
  }
}

.button-add__name {
  font-family: 'Inter', sans-serif;
  line-height: 45px;
  font-size: 18px;
  font-weight: 400;
}

.button-add__icon {
  width: 30px;
  height: 30px;
}
