.select__container {
  display: flex;
  gap: 5px;
  line-height: 35px;
  font-size: 18px;
  font-weight: 350;
}

.select__wrapper {
  width: 100%;
  //cursor: pointer;
  position: relative;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  border: 3px solid var(--inactive-buttom-color);
  border-radius: 0.375rem;
  appearance: none;
  opacity: 1;
  transition: border-color 0.2s, box-shadow 0.2s;

  &:hover {
    border: 3px solid var(--primary-color);
  }

  &:focus-within {
    border: 3px solid var(--primary-color);
  }

  &:focus,
  &:active {
    border: 3px solid var(--primary-color);
  }
}

.select__option {
  padding: 0 12px;
}

.select__menu-list {
  position: absolute;
  overflow: auto;
  width: 100%;
  margin: 10px 0;
  border: 3px solid var(--primary-color);
  border-radius: 4px;
  background: var(--text-light-color);
}

.option__item {
  list-style: none;
  margin: 5px;
  padding: 5px;
  display: grid;
  grid-gap: 5px ;
}

.option__label {
  padding: 0 12px;
  border: none;
  border-radius: 4px;
  opacity: 1;
  transition: 0.2s;

  &:hover,
  &:focus-visible {
    background: var(--primary-color);
    color: var(--text-light-color);
  }

  &:focus,
  &:active {
    background: var(--primary-color);
    color: var(--text-light-color);
  }
}

