<!-- select.html -->
<div class="select__container">
  <div #selectWrapper class="select__wrapper" (click)="toggleDropdown()">
    <div class="select__option">
      {{ selectedDisplayText || placeholder }}
    </div>
    @if (isOpen) {
      <div #selectMenu class="select__menu-list">
        <ul class="option__item">
          @for (option of options; track option) {
            <li class="option__label" (click)="selectOption(option, $event); $event.stopPropagation()">
              <a>
                {{ getDisplayText(option) }}
              </a>
            </li>
          }
        </ul>
      </div>
    }
  </div>
</div>
