.empty-message {
  position: fixed;
  top: 15%;
  left: 20%;
  right: 0;
  bottom: 0;
  display: grid;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: 500;
  color: var(--secondary-color);
  //padding: 300px;
}
