.loader-container {
  position: fixed;
  top: 15%;
  left: 20%;
  right: 0;
  bottom: 0;
  display: grid;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid var(--inactive-buttom-color);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid;
  border-color: var(--primary-color) transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
