.form-container {
  display: grid;
  gap: 20px;
}

.form-label-container {
  display: grid;
  grid-template-columns: 250px 660px 1fr;
  column-gap: 20px;
}

.form-label-container__label {
  align-items: start;
  line-height: 40px;
  font-size: 18px;
  font-weight: 400;
}

.form-label-container__input {
  padding: 2px 12px;
  border: 3px solid var(--inactive-buttom-color);
  border-radius: 6px;

  display: block;

  font-family: "Inter", sans-serif;
  line-height: 18px;
  font-size: 18px;
  font-weight: 300;

  outline: none;
  opacity: 1;
  transition: border-color 0.2s, box-shadow 0.2s;

  &:focus {
    border: 3px solid var(--primary-color);
  }
}

.form-label-container__textarea {
  height: 200px;
  resize: none;
  padding: 2px 12px;
  border: 3px solid var(--inactive-buttom-color);
  border-radius: 6px;

  display: block;

  font-family: "Inter", sans-serif;
  line-height: 35px;
  font-size: 18px;
  font-weight: 300;

  outline: none;
  opacity: 1;
  transition: border-color 0.2s, box-shadow 0.2s;

  overflow: auto;

  &:focus {
    border: 3px solid var(--primary-color);
  }

  // Скрываем скроллбар но оставляем функциональность
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE и Edge */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}
