.form-container {
  display: grid;
}

.form-content {
  display: grid;
  gap: 20px;
}

.buttons-container {
  margin: 300px 0 0 0;
}

.form-label-container {
  display: grid;
  grid-template-columns: 250px 660px 1fr;
  column-gap: 20px;
}

.form-label-container__label {
  align-items: start;
  line-height: 40px;
  font-size: 18px;
  font-weight: 400;
}

.form-label-container__input {
  padding: 2px 12px;
  border: 3px solid var(--inactive-buttom-color);
  border-radius: 6px;

  display: block;

  font-family: "Inter", sans-serif;
  line-height: 18px;
  font-size: 18px;
  font-weight: 300;

  outline: none;
  opacity: 1;
  transition: border-color 0.2s, box-shadow 0.2s;

  &:focus {
    border: 3px solid var(--primary-color);
  }
}

.form-label-container__input-static {
  padding: 2px 12px;
  border: 3px solid var(--inactive-buttom-color);
  border-radius: 6px;

  display: grid;
  align-items: center;
  justify-content: start;

  font-family: "Inter", sans-serif;
  line-height: 18px;
  font-size: 18px;
  font-weight: 300;

  outline: none;
  opacity: 1;
  transition: border-color 0.2s, box-shadow 0.2s;

  &:focus {
    border: 3px solid var(--primary-color);
  }
}

.form-label-container__switch {
  display: grid;
  align-items: center;
  justify-content: start;
}

.form-label-container__textarea {
  height: 200px;
  resize: none;
  padding: 2px 12px;
  border: 3px solid var(--inactive-buttom-color);
  border-radius: 6px;

  display: block;

  font-family: "Inter", sans-serif;
  line-height: 35px;
  font-size: 18px;
  font-weight: 300;

  outline: none;
  opacity: 1;
  transition: border-color 0.2s, box-shadow 0.2s;

  overflow: auto;

  &:focus {
    border: 3px solid var(--primary-color);
  }

  // Скрываем скроллбар но оставляем функциональность
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE и Edge */

  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

.form-label-container-error-message {
  align-content: center;
  line-height: 18px;
  font-size: 18px;
  font-weight: 300;
  color: var(--red-color);
}

.overrides-container {
  display: grid;
}

.overrides__header {
  display: grid;
  grid-template-columns: 40px 1fr 1fr;
  background: var(--primary-color);
  color: var(--text-light-color);
  align-items: center;
  line-height: 35px;
  font-size: 18px;
  font-weight: 400;
}

.overrides__header-label {
  text-align: center;
}

.checkbox {
  appearance: none;
  position: relative;
  width: 25px;
  height: 25px;
  background: var(--light-color);
  border-radius: 10px;
  transition: 500ms;

  &:after {
    content: "\2714";
    position: absolute;
    top: -5px;
    left: 2px;
    width: 0;
    height: 0;
    font-size: 26px;
    transition: 500ms;
    overflow: hidden;
  }
}

.enum-container {
  display: grid;
  gap: 20px;
}

.add-enum-button {
  padding: 0 40px;
  width: 250px;
  line-height: 35px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  background-color: var(--primary-color);
  border: none;
  border-radius: 4px;
  color: var(--text-light-color);
  opacity: 1;
  transition: 0.2s;

  &:hover,
  &:focus-visible {
    background-color: var(--dark-primary-color);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25), 0 0 16px 0 rgba(0, 0, 0, 0.19);
  }
}

.enum-container__body {
  padding: 20px;
  border: 2px solid var(--inactive-buttom-color);
  border-radius: 0.375rem;
  display: grid;
  gap: 20px;
}

.enum-list__header {
  display: grid;
  grid-template-columns: 268px 268px 40px;
  grid-gap: 20px;
  border-radius: 4px;
  background: var(--primary-color);
  color: var(--text-light-color);
  line-height: 40px;
  font-size: 18px;
  font-weight: 300;
  justify-items: center;
}

.enum-list {
  display: grid;
  grid-gap: 20px;
}

.enum-list__item {
  display: grid;
  grid-template-columns: 1fr 1fr 40px;
  gap: 20px;
}

.item-key {
  padding: 2px 5px 2px 12px;
  width: 100%;
  border: 3px solid var(--inactive-buttom-color);
  border-radius: 6px;
  display: block;
  font-family: "Inter", sans-serif;
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;

  outline: none;
  opacity: 1;
  transition: border-color 0.2s, box-shadow 0.2s;

  &:focus {
    border: 3px solid var(--primary-color);
  }
}

.item-value {
  padding: 2px 12px;
  width: 100%;
  border: 3px solid var(--inactive-buttom-color);
  border-radius: 6px;
  display: block;
  font-family: "Inter", sans-serif;
  line-height: 30px;
  font-size: 18px;
  font-weight: 300;

  outline: none;
  opacity: 1;
  transition: border-color 0.2s, box-shadow 0.2s;

  &:focus {
    border: 3px solid var(--primary-color);
  }
}

.remove-enum-button {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: var(--light-selected-item);
  border: none;
  border-radius: 4px;
  color: var(--primary-color);
  opacity: 1;
  transition: 0.2s;

  &:hover,
  &:focus-visible {
    background-color: var(--dark-primary-color);
    color: var(--text-light-color);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.25), 0 0 16px 0 rgba(0, 0, 0, 0.19);
  }
}

.remove-enum-button__icon {
  width: 20px;
  height: 20px;
}

.enum-error-message {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 20px;
  line-height: 18px;
  font-size: 18px;
  font-weight: 300;
  color: var(--red-color);
}
