@use 'fonts';
@use 'form-styles';
@use 'error-code-styles';
@use 'app/shared/components/switches/switch-styles';

:root {
  --dark-color: #000000;
  --white-light-color: #FFFFFF;
  --primary-color: #1d8ae2;
  --dark-primary-color: #1777c8;
  --secondary-color: #757575;
  --secondary-light-color: #ececec;
  --secondary-dark-color: #959595;
  --light-color: #ecf0f1;
  --text-dark-color: #333;
  --text-light-color: #fff;
  --indicate-green: #70C38C;
  --indicate-light-green: #b4efbf;
  --indicate-red: #FF766A;
  --indicate-light-red: #FFC7C2;
  --indicate-grey: #757575;
  --indicate-yellow: #fbd316;
  --red-color: #cf2a2a;
  --inactive-buttom-color: #d9d9d9;
  --selected-item: #bcccd5;
  --light-selected-item: #c2e4f3;
}

body {
  background: var(--text-light-color);
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  color: var(--text-dark-color);
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}
