@use 'fonts';
@use 'form-styles';

:root {
  --dark-color: #000000;
  --white-light-color: #FFFFFF;
  --primary-color: #1d8ae2;
  --dark-primary-color: #1777c8;
  --secondary-color: #757575;
  --light-color: #ecf0f1;
  --text-dark-color: #333;
  --text-light-color: #fff;
  --indicate-green: #70C38C;
  --indicate-red: #FF766A;
  --indicate-grey: #757575;
  --inactive-buttom-color: #d9d9d9;
}

body {
  background: var(--text-light-color);
  display: block;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  color: var(--text-dark-color);
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
}
