.date-picker-auto-container {
  font-size: 20px;
  font-weight: 300;
  line-height: 45px;
}

.date-picker-auto__form {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}

.date-picker-auto__form-label {
  display: grid;
  align-items: center;
  justify-content: center;
}

.date-picker-auto__form-input {
  padding: 2px 12px;
  border: 3px solid var(--inactive-buttom-color);
  border-radius: 6px;
  width: 100px;

  display: block;

  font-family: "Inter", sans-serif;
  line-height: 18px;
  font-size: 18px;
  font-weight: 300;

  outline: none;
  opacity: 1;
  transition: border-color 0.2s, box-shadow 0.2s;

  &:focus {
    border: 3px solid var(--primary-color);
  }
}

.date-picker-auto__form-select {
  display: grid;
  align-items: end;
  justify-content: start;
}

.date-picker-auto-select__container {
  display: flex;
  line-height: 40px;
  font-weight: 300;
  width: 120px;
}

.date-picker-auto-select__wrapper {
  width: 100%;
  position: relative;
  //color: var(--text-primary);
  background-color: var(--bg-primary);
  border: 3px solid var(--inactive-buttom-color);
  border-radius: 0.375rem;
  appearance: none;
  opacity: 1;
  transition: border-color 0.2s, box-shadow 0.2s;

  &:hover {
    border: 3px solid var(--primary-color);
  }

  &:focus-within {
    border: 3px solid var(--primary-color);
  }

  &:focus,
  &:active {
    border: 3px solid var(--primary-color);
  }
}

.date-picker-auto-select__option {
  padding: 0 12px;
}

.date-picker-auto-select__menu-list {
  position: absolute;
  z-index: 1000;
  overflow: auto;
  width: 100%;
  margin: 10px 0;
  border: 3px solid var(--primary-color);
  border-radius: 4px;
  background: var(--text-light-color);
}

.date-picker-auto-option__item {
  list-style: none;
  margin: 5px;
  padding: 5px;
  display: grid;
  grid-gap: 5px ;
}

.date-picker-auto-option__label {
  padding: 0 12px;
  border: none;
  border-radius: 4px;
  opacity: 1;
  transition: 0.2s;

  &:hover,
  &:focus-visible {
    background: var(--primary-color);
    color: var(--text-light-color);
  }

  &:focus,
  &:active {
    background: var(--primary-color);
    color: var(--text-light-color);
  }
}
